


// navigation.scss



.nav-container {
	background: url('images/headerx2-6.jpg') no-repeat;
	background-size: 2000px 140px;
	background-position: top center;
	min-height: 140px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	/*@media screen and (max-width: 2000px) {
		background-size: 2000px 134px;
	}*/
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

    @media screen and (max-width: 850px) {
    	margin-bottom: 0;
    }
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
	background: transparent;
	border: none;

	ul.nav.navbar-nav {
	    margin-top: -30px;
	    margin-left: 15px;

	    @media screen and (max-width: 850px) {
	    	margin-top: 67px;
	    	margin-left: 0;
	    	text-align: left;
    		display: block;
	    }
	}

	.navbar-collapse {
		border: none;
		margin-top: 0px;
		background: transparent;

		@media screen and (max-width: 850px) {
			box-shadow: 0 2px 2px rgba(0,0,0,0.3);
			padding: 0;
		}
	}

	.navbar-nav>li:nth-child(3) {
		margin-right: 250px;

		@media screen and (max-width: 850px) {
			margin-left: 0;
		}

		@media screen and (max-width: 850px) {
			margin-right: 0;
		}
	}
	.navbar-nav>li.border:before {
		content: "/";
		float: left;
		line-height: 51px;
		color: #feb729;
		color: #2276ba;
		color: #666;
		font-size: 17px;
		font-weight: 500;

	    @media screen and (max-width: 850px) {
	    	content: "";
	    }
	}

	.navbar-nav>li>a {
		font-family: 'Francois One', sans-serif;
		color: #fff;
		font-weight: 400;
		font-size: 17px;
		margin: 0 7px;
		text-shadow: 1px 1px 1px #000;
		-moz-transition-property: "color";
		-o-transition-property: "color";
		-webkit-transition-property: "color";
		transition-property: "color";
		-moz-transition-duration: 200ms;
		-o-transition-duration: 200ms;
		-webkit-transition-duration: 200ms;
		transition-duration: 200ms;

		@media screen and (max-width: 885px) {
			margin: 0 3px;
		}

		@media screen and (max-width: 850px) {
			color: #333;
			text-shadow: 1px 1px 1px #ccc;
			padding-left: 60px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin: 0;
		}

		span.caret {
			display: none;
		}

		&:hover {
			color: #feb729;

			@media screen and (max-width: 850px) {
				color: #333;
				background: #ddd;
				box-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
			}
		}

		&:active {
			color: #feb729;

			@media screen and (max-width: 850px) {
				color: #333;
			}
		}

		&:focus{
			color: #fff;

			@media screen and (max-width: 850px) {
				color: #333;	
			}
		}
	}
}

.dropdown-menu {
    background: #ddd;
    margin-top: -5px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3px !important;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    /* box-shadow: none; */
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

    @media screen and (max-width: 850px) {
    	margin-top: 0 !important;
    	box-shadow: 0 1px 4px rgba(0,0,0,0.3) !important;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {

	@media screen and (max-width: 850px) {
	    color: #000;
	    padding: 14px 0 14px 90px;

	    &:hover {
	    	background: #f5f5f5;
	    }
	}
}

.dropdown-menu>li>a {
	font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #333;
    padding: 10px 25px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;

    &.first {
    	border-top-right-radius: 3px;
    	border-top-left-radius: 3px;
    }

    &.last {
    	border-bottom-right-radius: 3px;
    	border-bottom-left-radius: 3px;
    	border-bottom: none;
    }

    &.only {
    	border-radius: 3px;

    	i.fa {
		    margin-left: 7px;
		    color: #aaa;
		}
    }

    &:hover {
    	background: #f5f5f5;
    	color: #222;
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #feb729;
    background-color: transparent;

    @media screen and (max-width: 850px) {
    	color: #222;
    	background: #ccc;
    	box-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
    }
}

.navbar-header {
	width: 100%;
	text-align: center;
	float: left;
}

.navbar-brand {
	width: 145px;
	float: none;
	display: inline-block;
	margin-bottom: 0;

	@media screen and (max-width: 850px) {
		margin-left: 69px;
	}

	@media screen and (max-width: 400px) {
		margin-left: 59px;
	}

	@media screen and (max-width: 350px) {
		margin-left: 47px;
	}

	img {
		width: 100%;
	}
}

.navbar-toggle {
    border: none;
    margin-top: 34px;
    margin-right: 25px;

    &:hover, &:active, &focus {
    	background: transparent;
    	border: none;
    }

    @media screen and (max-width: 400px) {
    	margin-right: 15px;
    }

    @media screen and (max-width: 350px) {
    	margin-right: 4px;
    }
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: transparent;
	border: none;
}


/*************** Mobile Nav Breakpoint ***************/
@media (max-width: 850px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
  		overflow-x: hidden;
	}
}